<a href="https://colab.research.google.com/github/tapyu/ref-10606-f23/blob/main/Lecture_01_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sets

In [ ]:
{x**2 for x in range(5) if x>1}

{4, 9, 16}

Write a set builder that find elements of $\mathbb{N}$ smaller 50 than not divisible by 2,3 or 5:

In [ ]:
#write a test for divisibility of a single number by 3
(x % != 2) and (x % 3 != 0) and (x % 5 != 0)

In [ ]:
x = 4
#test whether x is not divisible by all of 2, 3, and 5
(x % 2 != 0) and (x % 3 != 0) and (x % 5 != 0)

False

In [ ]:
#write the final set builder
{x for x in range(1, 50) if (x % 2 != 0) and (x % 3 != 0) and (x % 5 != 0)}

{1, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 49}

In [ ]:
#write a function returning the subset of the set "numbers" which are not divisible by 2, 3, or 5
def not_divisible_235(numbers):
    subset = {x for x in numbers if (x % 2 != 0) and (x % 3 != 0) and (x % 5 != 0)}
    return subset

In [ ]:
numbers = {43574389, 3457, 2,7,89, 25, 49}
not_divisible_235(numbers)

{7, 49, 89, 3457, 43574389}

Set complement

In [ ]:
U = range(50)
S = {x*2 for x in range(25)}

#write a set builder to compute the complement of S
S_bar = {x for x in U if x not in S}

In [ ]:
print(S_bar)

{1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49}

Set product

In [ ]:
S = {1, 2, 3, 4}
T = {'a', 'b', 'c'}

#write code to compute the set product of S x T
product = {(x, y) for x in S for y in T}
print(product)

{(1, 'b'), (4, 'c'), (2, 'a'), (3, 'a'), (1, 'a'), (2, 'c'), (4, 'b'), (3, 'c'), (2, 'b'), (1, 'c'), (3, 'b'), (4, 'a')}

In [ ]:
#filter the product to contain only elements where the first entry of the tuple is even

#{(x, y) for x in S for y in T if x %2 == 0}
#{(x,y) for x,y in product if x % 2 == 0}

{(x, y) for x in S for y in set()}

set()

Creating sets of tuples with multiple loops

In [ ]:
{x+y  for x in range(5) for y in range(7) if x>1}

{2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
#write a set containing all nonnegative integers x, y >= 0 where x^2 + y is <= 10 and y^2 + x > 5
{(x,y) for x in range(11) for y in range(11) if x**2 + y <= 10 and y**2 + x > 5}

{(0, 3),
 (0, 4),
 (0, 5),
 (0, 6),
 (0, 7),
 (0, 8),
 (0, 9),
 (0, 10),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (1, 7),
 (1, 8),
 (1, 9),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6)}

$\{(x, y) \in Z_+^2 | x^2 + y \leq 10, y^2 + x > 5\}$

$Z_+ \times Z_+$ $R^2$ $R^n$

# Lecture 2

Reminders:
* Homework 1 due EOD on Sunday
* No recitation this week (no class Friday)

What's ahead:
* Today: more preliminaries
* Data types and functions
* Next week: start linear algebra (pace picks up)

## Data types and functions

Based on: [Geoff Gordon's data types lecture notes](https://qna.cs.cmu.edu/#/pages/view/145)

### Data types

- Different types such as int, char, float...

- Also combinations, for instance in C:


```C
struct{int a, float b}
```

defines a set product $\mathbb{Z}\times\mathbb{R}$.

- Sometimes, the same argument can have one of two types, so you can use a union:

```C
union{int a, float b}
```

How is this different from the mathematical expression $\mathbb{Z}\cup\mathbb{R}$?

### Tagged unions

Some language differentiate between different types by using an additional indicator (e.g. first few bits).

We can also manually tag the elements:

$\mathbb{Z}\times\{1\} \cup \mathbb{R}\times \{2\}$

How is this different from $\mathbb{Z} \cup \mathbb{R}$?

### Functions

$f(x) = 4x - 5 $ is of type $\mathbb{R} \rightarrow \mathbb{R} $

$g(x,y) = x^2 + 4xy +0.5 y^2$ is of type $\mathbb{R} \times \mathbb{R} \rightarrow \mathbb{R} $      

Can operate on other sets as well.

Functions are:
- complete (defined for every value)
- single valued (one output for each input)

i.e. if $p\in X\rightarrow Y$ then for every $x\in X$ there exist a unique $p(x) \in Y$


Alternate notation  for $X\rightarrow Y$ is  $Y^X$

#### Anonymous functions

Some languages require all functions to have names and the types to be indicated:

```C
float p(float x) {return x**2;}
```

In others we can use lambda notation:

$\lambda$ arguments.expression

e.g. $\lambda x,y.x^2 + 4xy +0.5 y^2$ is of type $\mathbb{R} \times \mathbb{R} \rightarrow \mathbb{R} $

In [ ]:
p = lambda x,y: x**2 + 4*x*y + 0.5*y**2

def p2(x,y):
    return x**2 + 4*x*y + 0.5*y**2

f = lambda x,y: p(x,y) + 1

6.5

Write a python anonymous function to represent the predicate:

$ (x^4 - x^2) \ge -0.1 $

In [ ]:
#write the lambda function here
pred = lambda x: x**4 - x**2 >= -0.1

print(pred(0.5))

#write a non-anonymous function here
def pred2(x):
  return x**4 - x**2 >= -0.1


print(pred2(0.5))

False
False

**Write** a function **filter** that takes as set and a predicate and returns the elements of the set for which the predicate evaluates to **true**.

In [ ]:
def filter(predicate, set_s):
    return {x for x in set_s if predicate(x)}

Test **filter** by applying it to the set {-1, -0.75, -0.5 ... 0.75, 1} and the predicate you defined above.

In [ ]:
import numpy as np

set_a = np.linspace(-1,1,9)
set_a = set(set_a)
print(set_a)

pred = lambda x: (x**4 - x**2) >= -0.1

#apply filter to the predicate
filter(pred, set_a)

{-0.75, -0.5, 0.0, -0.25, 0.25, 0.5, 0.75, 1.0, -1.0}

{-1.0, -0.25, 0.0, 0.25, 1.0}

In [ ]:
A = {1, 2, 'a'}
B = {x for x in range(5)}
B = set()
C = set(range(5))
print(C)

a = np.linspace(-1,1,9)
set(a)

{0, 1, 2, 3, 4}

{-1.0, -0.75, -0.5, -0.25, 0.0, 0.25, 0.5, 0.75, 1.0}

# Exercises

1. Consider the ceiling function $f(x) = \lceil x\rceil$. For any real number, $f(x)$ rounds $x$ up to the nearest whole number. Write a mathematical description of the type of function $f$.

$f: R \to Z$


2. Write python code which implements ceiling as a lambda function.

f = lambda x: int(x) + 1 if x != int(x) else int(x)

3. Consider a function $g$ that takes as input any function $f$ and returns a new function which applies ceiling to $f$. Write a mathematical description of the type of function $g$.

$(R \to R) \to (R \to Z)$